.button {
    padding: 8px;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        filter: brightness(90%);
    }

    &:active {
        filter: brightness(70%);
        transform: translateY(1px);
        box-shadow: 1px 1px 5px;
    }
}