.table {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    .tableRow {
        word-wrap: break-word;
        background-color: var(--table-background-color);
        border-style: solid;
        border-width: 1px;
        border-color: black;

        &.secondary {
            background-color: var(--table-background-secondary-color);
        }

        &.title {
            background-color: var(--table-background-title-color);
        }

        .rowIndex:hover {
            cursor: grab;
        }
        .rowIndex:active {
        cursor: grabbing;
        }

        .tableCell {
            padding: 0px 4px;
        }
    }
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}